{% include 'base.jinja' %}

{% block content %}


<script type=text/javascript>
  $(function() {
	  
    $('#send').bind('click', function() {
		if(document.getElementById("textArea").value.trim().length){
				document.getElementById("send").disabled = true,

			  $.getJSON($SCRIPT_ROOT + '/get_user_input', {
				input: $('textArea[name="input"]').val()
				
				
				
			  }, function(data) {
				
				$("#result").append("Du: "+data.input+"\n");
				$("#result").append("Chap.py: "+data.result+"\n");
				var result = document.getElementById('result');
				result.scrollTop = result.scrollHeight;
				document.getElementById("textArea").value = "";
				document.getElementById("send").disabled = false;
			  });
			  return false;
		}
		else {alert("You have to say something...");}
		  
    });
  });
</script>

<div class="col-sm-6 col-sm-offset-3">
  <fieldset>
    <legend>Chap.py the wine expert <img src="{{ url_for('static', filename='res/robot.png') }}" alt="" height="64" width="64"></a></legend>
    <div class="form-group">
      <label for="textarea" >Chatbox</label>

        <textarea class="form-control" rows="5" id="result" name=result disabled="">Chap.py: Hi my name is Chap.py, let's talk about wine!
</textarea>
        <!-- <span class="help-block" style="color:black"> Chap.py's answer</span>-->

    </div>
    
    <div class="form-group">
      <label for="textArea" >Talk to Chap.py</label>
        <textarea class="form-control" rows="3" id="textArea" name=input  ></textarea>
       <!-- <span class="help-block" style="color:black">Talk to Chap.py</span> -->

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-info" id=send name=send >Send</button>

    </div>
  </fieldset>
</div>

{% endblock %}

